body{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
}
.logo{
    margin-left: 200px;
    margin-top: 80px;
}
.menu-nav{
    margin-left: 70%;
    margin-top: -1%;
    margin-right: 11px;
}
.menu-nav1 > li{
    display: inline-block;
    padding-right: 30px;
}
.menu-nav1 > li >a {
    font-size: 16px;
    color: rgb(78, 76, 76);
    text-decoration: none;
    text-align: right;
}
.menu-nav1.open ul{
    display: block;
    right: 701px;
    min-width: 250px;
    background-color: #60606e;
    position: absolute;
}
.menu-nav1 ul{
    list-style: none;
    display: none;
}
.History-part{
    height: 850px;
	width: 100%;
	background: url("../assets/img/Layer\ 2.png") no-repeat;
	background-size: cover;
	position: relative;
    overflow: hidden;
}
.TitleSmall{
    color:#60606e;
	padding: 7px 12px;
	background-color: #7beec7;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 48%;
}
.BigTitle{
	font-size: 48px;
    color: #60606e;
    padding: 0px 40px;
    border: solid 10px #60606e;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 37%;
    height: 100px;
    text-align: center;
}
.description{
	width: 50%;
    color: #60606e;
    text-align: center;
    font-size: 19px;
    margin-left: 500px;
}
.Block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50%;
    margin-top: 150px;
}
.history-title{
     position: relative;
     z-index: 1;
     font-family: 'Times New Roman', serif;
     font-weight: 700;
     font-size: 30px;
     text-transform: uppercase;
     color: #60606e;
     position: relative;
     display: inline-block;
     margin-bottom: 20px;
     margin-top: -500px;
 }
 .history-title:after{
 	content: "";
    background-color: #7beec7;
    position: absolute;
	top:20px;
 	left:0;
 	z-index: -1;
 	width: 60px;
     height: 20px;
 }
 .description1{
    font-size: 18px;
    line-height: 30px;
    color: #60606e;
    font-family: 'Times New Roman', serif;
    margin-right: 410px;
    margin-top: -400px;
    position: relative;
 }
 .picHistory{
     margin-left: 200px;
     margin-top: -105px;
 }
 .description2{
 	line-height: 24px;
    color:#60606e;
    text-align:center;
    font-size: 19px;
 }
 .btn-green{
    background-color: #7beec7;
    color: #fff;
    margin-left: 400px;
    margin-top: -175px;
    width: 135px;
    height: 49px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;

 }
 .agency{
    position: relative;
 	width: 100%;
 	height: auto;
 	margin-top: -380px;
}

.icon1{
    background-size: 10%;
    background-image: url(../assets/img/icon1.png);
}
.choose-title{
	margin: 0 auto 100px;
	text-align: center;
}
.choose-title{
	position: relative;
	z-index: 1;
	font-family: 'Times New Roman',  serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color:#60606e;
	position: relative;
	margin-bottom: 20px;
}
.choose-title:after{
	content: "";
    background-color: #7beec7;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
    width: 60px;
    height: 20px;
    margin-left: 829px;
    margin-top: -3px;
}
.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 125px;
}
.item1{
    margin-left:100px;
    margin-right: 60px;
}
.item1_1{
    margin-left:100px;
    margin-right: 60px;
}
.services ul li {
    list-style: none;
    text-transform: uppercase;
    line-height: 30px;
    color: #999999;
}
.service-title{
    font-size: 18px;
	margin-bottom: 20px;
    margin-left: 40px;
    color: #60606e;
    font-weight: 700;
}
.font_icon{
    height: 45px;
    margin: 25 auto;
    margin-left: 40px;
    margin-top: -90px;
}
.row2{
    margin-top: -368px;
    margin-left: 162px
}
.choose1-title{
    font-size: 30px;
    margin-bottom: 50px;
    display: inline-block;
   color: #60606e;
   font-weight: 700;
}
.portfolio .categories-title span{
	font-size: 30px;
	margin-bottom: 50px;
    display: inline-block;
    margin-left: 50px;
}
.portfolio .categories-title .categories ul li{
	list-style: none;
	margin: 20px 0;
}
.portfolio .categories-title .categories ul li a{
	display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: #60606e;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}
.portfolio .categories-title .categories ul li a.active{
	margin-left: 0;
	background-color: #7beec7;
	padding: 0 10px;
	color:white;
}
.work_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    margin-left: 38%;
}
.works1-example{
    margin-top: -340px;
}
.item-image{
    margin-right: 20px;
}
.item4,.item5, .item6{
    margin-top: -150px;
    margin-top: -200px;
}
.item6{
    margin-top: 20px;
}
.item7{
    margin-top:-110px;
}
.item8{
    margin-top: 20px;
}
.item9{
margin-top: -7px;
}
section{
	margin-top: 150px;
}
.green-section{
    background-color:#7beec7;
    margin-top: 150px;
    height: 330px;
}
.white-section{
    background-color: #fff;
    padding: 20px;
    height: 245px;
    margin-top: 50px;
    width: 540px;
    margin-left: 30px;
}
.light-gray-section{
	background-color: #efeff0;
}
.btn.green1{
	background-color: #7beec7;
    color: #fff;
    margin-left: 30px;
    margin-top: 17px;
    width: 135px;
    height: 49px;
    border-radius: 0;
}
.btn.white{
	background-color: #fff;
    color: #7beec7;
    height: 54px;
    line-height: 50px;
    min-width: 150px;
    text-align: center;
    font-weight: 700;
    margin-left:150px;
}
.white-text{
    font-size:30px;
    display:block;
    color:white;
    font-weight: 700;
    margin-left: 150px;
}
.container22{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 50%;
    margin-top: -197px;
    height: 250px;
}
input{
    width: 430px;
    height: 48px;
    padding-left: 30px;
}
.text22{
    font-size: 24px;
    color: #60606e;
    font-weight: 700;
    padding-left: 30px;
}
.text23{
    padding-left: 30px;
    color: #999999;
    padding-right: 30px;
    font-size: 18px;
}
.input_1{
    padding-left: 30px;
    margin-right: 150px;
}
.footer-nav{
    font-size:14px;
    margin-top: 50px;
    margin-left: 100px;
    text-transform: uppercase;
}
.footer-nav1 > li{
    display: inline-block;
    padding-right: 30px;
}
.footer-nav1 > li >a {
    font-size: 16px;
    color: rgb(78, 76, 76);
    text-decoration: none;
    text-align: right;
    color:#9a9a9a;
}
.footer-gray-text{
    margin-left: 1200px;
    text-transform: uppercase;
    margin-top: -38px;
    color: #9a9a9a;
}
.item-icon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 30px;
    margin-left: 1350px;
}
.icon1-facebook{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='96.124px' height='96.123px' viewBox='0 0 96.124 96.123' style='enable-background:new 0 0 96.124 96.123;' xml:space='preserve'%3e%3cg%3e%3cpath d='M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803 c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654 c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246 c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z' style='fill: rgb(152, 152, 152);'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 50%;
    background-position: center; 
    margin-right: 10px;
}
.icon-twitter{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='510px' height='510px' viewBox='0 0 510 510' style='enable-background:new 0 0 510 510;' xml:space='preserve'%3e%3cg%3e%3cg id='post-twitter'%3e%3cpath d='M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z M400.35,186.15c-2.55,117.3-76.5,198.9-188.7,204C165.75,392.7,132.6,377.4,102,359.55c33.15,5.101,76.5-7.649,99.45-28.05 c-33.15-2.55-53.55-20.4-63.75-48.45c10.2,2.55,20.4,0,28.05,0c-30.6-10.2-51-28.05-53.55-68.85c7.65,5.1,17.85,7.65,28.05,7.65 c-22.95-12.75-38.25-61.2-20.4-91.8c33.15,35.7,73.95,66.3,140.25,71.4c-17.85-71.4,79.051-109.65,117.301-61.2 c17.85-2.55,30.6-10.2,43.35-15.3c-5.1,17.85-15.3,28.05-28.05,38.25c12.75-2.55,25.5-5.1,35.7-10.2 C425.85,165.75,413.1,175.95,400.35,186.15z' style='fill: rgb(152, 152, 152);'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size:50%;
    background-position: center; 
    margin-right: 10px;
}
.icon-youtube {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='96.875px' height='96.875px' viewBox='0 0 96.875 96.875' style='enable-background:new 0 0 96.875 96.875;' xml:space='preserve'%3e%3cg%3e%3cpath d='M95.201,25.538c-1.186-5.152-5.4-8.953-10.473-9.52c-12.013-1.341-24.172-1.348-36.275-1.341 c-12.105-0.007-24.266,0-36.279,1.341c-5.07,0.567-9.281,4.368-10.467,9.52C0.019,32.875,0,40.884,0,48.438 C0,55.992,0,64,1.688,71.336c1.184,5.151,5.396,8.952,10.469,9.52c12.012,1.342,24.172,1.349,36.277,1.342 c12.107,0.007,24.264,0,36.275-1.342c5.07-0.567,9.285-4.368,10.471-9.52c1.689-7.337,1.695-15.345,1.695-22.898 C96.875,40.884,96.889,32.875,95.201,25.538z M35.936,63.474c0-10.716,0-21.32,0-32.037c10.267,5.357,20.466,10.678,30.798,16.068 C56.434,52.847,46.23,58.136,35.936,63.474z' style='fill: rgb(152, 152, 152);'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 50%;
    background-position: center; 
    margin-right: 10px;
}
.icon-linkedin{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='430.117px' height='430.117px' viewBox='0 0 430.117 430.117' style='enable-background:new 0 0 430.117 430.117;' xml:space='preserve'%3e%3cg%3e%3cpath id='LinkedIn' d='M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707 c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21 v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824 C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463 c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z M5.477,420.56h92.184v-277.32H5.477V420.56z' style='fill: rgb(152, 152, 152);'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 50%;
    background-position: center;
    margin-right: 1 0px;
}
.icon-pinterest{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='612px' height='612px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3e%3cg%3e%3cpath d='M306,0C137.004,0,0,137.004,0,306c0,168.995,137.004,306,306,306c168.995,0,306-137.005,306-306 C612,137.004,474.995,0,306,0z M334.152,398.662c-22.616,0-43.897-12.49-51.213-26.678c0,0-12.157,49.294-14.744,58.808 c-4.34,16.079-12.713,32.131-20.475,44.844c-11.071,14.465-23.84,3.728-25.37-9.459c-0.5-14.688,0.028-32.074,3.672-47.902 c4.034-17.358,26.956-116.586,26.956-116.586s-6.704-13.659-6.704-33.855c0-31.713,17.999-55.386,40.42-55.386 c19.055,0,28.263,14.633,28.263,32.13c0,19.556-12.212,48.821-18.499,75.916c-5.258,22.7,11.155,41.199,33.076,41.199 c39.696,0,66.458-52.076,66.458-113.749c0-46.901-30.935-81.98-87.21-81.98c-63.565,0-103.178,48.403-103.178,102.454 c0,18.638,5.369,31.796,13.826,41.95c3.867,4.674,4.423,6.565,3.004,11.935c-1.001,3.95-3.31,13.408-4.256,17.163 c-1.391,5.425-5.703,7.345-10.488,5.342c-29.292-12.213-42.923-44.955-42.923-81.73c0-60.783,50.212-133.667,149.773-133.667 c80.005,0,132.665,59.114,132.665,122.567C447.232,335.96,401.527,398.662,334.152,398.662z' style='fill: rgb(152, 152, 152);'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 50%;
    background-position: center; 
    margin-right: 10px; 
}
.icon-instagram{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='97.395px' height='97.395px' viewBox='0 0 97.395 97.395' style='enable-background:new 0 0 97.395 97.395;' xml:space='preserve'%3e%3cg%3e%3cpath d='M12.501,0h72.393c6.875,0,12.5,5.09,12.5,12.5v72.395c0,7.41-5.625,12.5-12.5,12.5H12.501C5.624,97.395,0,92.305,0,84.895 V12.5C0,5.09,5.624,0,12.501,0L12.501,0z M70.948,10.821c-2.412,0-4.383,1.972-4.383,4.385v10.495c0,2.412,1.971,4.385,4.383,4.385 h11.008c2.412,0,4.385-1.973,4.385-4.385V15.206c0-2.413-1.973-4.385-4.385-4.385H70.948L70.948,10.821z M86.387,41.188h-8.572 c0.811,2.648,1.25,5.453,1.25,8.355c0,16.2-13.556,29.332-30.275,29.332c-16.718,0-30.272-13.132-30.272-29.332 c0-2.904,0.438-5.708,1.25-8.355h-8.945v41.141c0,2.129,1.742,3.872,3.872,3.872h67.822c2.13,0,3.872-1.742,3.872-3.872V41.188 H86.387z M48.789,29.533c-10.802,0-19.56,8.485-19.56,18.953c0,10.468,8.758,18.953,19.56,18.953 c10.803,0,19.562-8.485,19.562-18.953C68.351,38.018,59.593,29.533,48.789,29.533z' style='fill: rgb(152, 152, 152);'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 50%;
    background-position: center;
    margin-right: 10px;
}
@media screen and (max-width: 991px){
 .BigTitle{
    text-align: center;
    font-size: 55px;
    margin-left: 235px;
    padding-top: 30px;
    font-weight: 700;}
}
@media screen and (max-width: 991px){
    .picHistory{
        margin-top: 500px;
        width: 720px;
        height: 400px;}
}
@media screen and (max-width: 991px){
    .TitleSmall{
        margin-left: 483px;
        font-size: 30px;
        margin-top: 100px;}
}
@media screen and (max-width: 991px){
    .description{
    font-size: 17px;
    margin-left: 315px;
    text-align: center;
    margin-top: -15px;}
}
@media screen and (max-width: 991px){
    .history-title {
        margin-left: -135px;
        margin-top: 0;
        font-size: 30px;}
}
@media screen and (max-width: 991px){
    .description1{
    font-size: 20px;
    text-align: center;
    margin-left: -300px;
    margin-right: 150px;
    margin-top: 20px;}
}
@media screen and (max-width: 991px){
    .description2{
        font-size: 20px;
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;}
}
@media screen and (max-width: 991px){
    .choose-title:after{margin-left: 400px;}
}
@media screen and (max-width: 991px){
    .choose-title{
        margin-top: 532px;
        text-align: center;
        font-size: 38px;
        margin-top: 50px;}
}
@media screen and (max-width: 991px){
    .row1{display: inline-block;margin-top: 50px;}
}
@media screen and (max-width: 991px){
    .item1{
    padding-top: 123px;
    font-size: 20px;
    text-align: center;
    margin-left: 260px;}
}
@media screen and (max-width: 991px){
    .item1_1{
    padding-top: 100px;
    font-size: 20px;
    text-align: center;
    margin-left: 130px;}
}
@media screen and (max-width: 991px){
    .picAbout{
    margin-top: 400px;
    width: 720px;
    height: 765px;
    margin-left: -100px;}
}
@media screen and (max-width: 991px){
    .choose1-title{margin-top: 45px;margin-left: 190px;}
}
@media screen and (max-width: 991px){
    .work_container{ display: inline-block; margin-top: 355px;}
}
@media screen and (max-width: 991px){
    .categories{
        margin-top: -50px;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-right: 200px;}
}
@media screen and (max-width: 991px){
    .item11{
    width: 500px;
    height: 340px;
    vertical-align: middle;
    margin-left: -110px;}
}
@media screen and (max-width: 991px){
    .item2{
        width: 500px;
        height: 340px;
        vertical-align: middle;
        margin-left: -110px;
        margin-top: 30px;}
}
@media screen and (max-width: 991px){
    .item3{
        width: 500px;
        height: 550px;
        vertical-align: middle;
        margin-left: -110px;
        margin-top: 30px;}
}
@media screen and (max-width: 991px){
    .item4{
        width: 500px;
        height: 340px;
        vertical-align: middle;
        margin-left: -110px;
        margin-top: -330px}
}
@media screen and (max-width: 991px){
    .item5{
        width: 500px;
        height: 550px;
        vertical-align: middle;
        margin-left: -110px;
        margin-top: 30px;}
}
@media screen and (max-width: 991px){
    .item6{
        width: 500px;
        height: 340px;
        vertical-align: middle;
        margin-left: -110px;
        margin-top: 30px;}
}
@media screen and (max-width: 991px){
    .item7{
    width: 500px;
    height: 550px;
    vertical-align: middle;
    margin-left: -110px;
    margin-top: -330px;}
}
@media screen and (max-width: 991px){
    .item8{
        width: 500px;
        height: 340px;
        vertical-align: middle;
        margin-left: -110px;
        margin-top: 30px;}
}
@media screen and (max-width: 991px){
    .item9{
        width: 500px;
        height: 340px;
        vertical-align: middle;
        margin-left: -110px;
        margin-top: 30px;}
}
@media screen and (max-width: 991px){
    .History-part{height: 750px;}
}
@media screen and (max-width: 991px){
    .Block{ margin-top: 100px;}
}
@media screen and (max-width: 991px){
    .btn-green{    margin-top: 50px; margin-left: -28px;}
}
@media (max-width: 991px) {
	.container1{margin-top: -25px; margin-right: 72px;}
}
@media (max-width: 991px) {
    .input_1{width: 810px;}
 }
 @media (max-width: 991px) {
    .green-section{height: 500px;}
 }
@media (max-width: 991px) {
    .white-section{
        margin-top: 242px;
        margin-left: -352px;
        width: 670px;
        height: 250px;}
}
@media (max-width: 991px) {
     .text22{margin-right: 100px;}
}
@media screen and (max-width: 991px){
     .text23{font-size: 20px;margin-right: -20px;}
 }
@media screen and (max-width: 991px){
    .btn.green1{ margin-top: 10px; margin-left: 30px;}
}
@media screen and (max-width: 991px){
    .footer-nav1{
    display: block;
    text-align: center;
    margin-left: 324px;
    margin-right: 337px;
    padding-top: 14px;
    }
}
@media screen and (max-width: 991px){
     .footer-nav1 > li{padding-top: 31px;}
 }

@media screen and (max-width: 991px){
    .footer-gray-text{   margin-left: 380px; margin-top: 31px;}
}
@media screen and (max-width: 991px){
    .item-icon{margin-left: 450px; margin-top: 31px;}
}
@media screen and (max-width: 991px){
    .input_1 input[type="text"]{width: 565px;}
}



